@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Éditeur";
}
<br />

<h2 style="text-align: justify;">
    ÉDITEUR
</h2>
<br/>

<p>
    L'application ÉDITEUR permet à l'utilisateur de personnaliser ses propres zones de jeu. 
</p>

<ol class="round">

    <li class="one" style="text-align: justify;">
        <h5>Créer des zones de jeu</h5>
        Appuyer sur la combinaison de touches CTRL + N et la zone de jeu par défaut apparait automatiquement
        à l'écran d'édition. Par défaut, la zone de jeu doit minimalement contenir les trois objets suivants:
        un générateur de bille, un trou et un ressort.
    </li>
    <li class="two" style="text-align: justify;">
        <h5>Sauvegarder des zones de jeu</h5>
        Appuyer sur la combinaison de touches CTRL + S après avoir éditer votre première zone de jeu et le gestionnaire
        de fichier de Windows apparait à l'écran. Les zones de jeu sont enregistrés sous format XML et ne doivent
        pas s'appeler "default.xml".
    </li>
    <li class="three" style="text-align: justify;">
        <h5>Ouvrir des zones de jeu existante</h5>
        Appuyer sur la combinaison de touches CTRL + O et le gestionnaire de fichier de Windows charge automatiquement
        la liste des fichiers XML disponibles dans le répertoire "zones".
    </li>

    <li class="four" style="text-align: justify;">
        <h5>Fonctionnalités d'édition</h5>
        Plusieurs actions peuvent s'appliquer aux objets de la scène 3D. Parmi ceux-ci, il est possible de :
    </li>
</ol>