@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Jeu";
}
<br />

<h2 style="text-align: justify;">
    JEU
</h2>
<br />
<ol class="round">

    <li class="one" style="text-align: justify;">
        <h5>Éditeur de zone de jeu</h5>
    </li>
    <li class="two" style="text-align: justify;">
        <h5>Mode jeu</h5>
    </li>

    <li class="three" style="text-align: justify;">
        <h5>Editeur sur iPad</h5>
    </li>
</ol>