extends layout

block head
    link(rel="stylesheet", href="/stylesheets/creationJoueur.css")

block content
    img(src="/images/loup_solitaire.png")

    section
        h1 Découvrir PainBall™

        p Imaginez 3 mois sans construction de maisons pour les sans-abris. 
        
        br
        
        p Trois mois à get shiftey™
        
        br
        
        p Un serveur, un client lourd, un client léger et un front-end web
        
        br
        
        p Une seule expérience de Gameplay comme l'humanité (Julien et Olivier) n'a jamais vu avant
        
        br
        
        p Un chat immersif plein plein de joueurs désagréables, comme sur XBOX LIVE™
        
        br
        
        p Des campagnes et parties en ligne divertissantes 

        br
        
        p Une expérience d'édition de cartes sans pareil sur iPad (même les macfags peuvent profiter de PainBall™)