@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Contact";
}

<hgroup class="title">
    <h1>@Page.Title</h1>
</hgroup>

<table style="width:100%">
    <tr>
        <td>
            <section class="contact">
                <header>
                    <h3>Téléphone:</h3><br/>
                </header>
                <p>
                    <span class="label">Principal:</span>
                    <span>(514) 340-4711 ext. 2102</span>
                </p>
                <p>
                    <span class="label">Après fermeture:</span>
                    <span>(514) 999-5756</span>
                </p>
            </section>
        </td>
        <td>
            <section class="contact">
                <header>
                    <h3>E-Mail:</h3><br />
                </header>
                <p>
                    <span class="label">Support:</span>
                    <span><a href="mailto:ballersdevteam@gmail.com">ballersdevteam@gmail.com</a></span>
                </p>
                <p>
                    <span class="label">Général:</span>
                    <span><a href="mailto:ballersdevteam@gmail.com">ballersdevteam@gmail.com</a></span>
                </p>
            </section>
        </td>
    </tr>
</table>
<br />

<section class="contact">
    <header>
        <h3>Adresse:</h3>
    </header>
    <p>
        2900 boulevard Édouard-Montpetit<br />
        Montréal, QB H3T 1J4 <br/>
        M-4017
    </p><br />
</section>
<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d2796.336679423276!2d-73.62100888497831!3d45.50330073885544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1s2900+boul.+%C3%89douard-Montpetit%2C+Montr%C3%A9al%2C+QC+H3T+1J4!5e0!3m2!1sfr!2sca!4v1456977042613" width="750" height="450" frameborder="0" style="border:0"></iframe>