@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Accueil";
}
<br/>

<h3 style="text-align: justify;">
    PainBall est un jeu vidéo développé par une équipe d'ingénieurs logiciel de l'École Polytechnique
    dans le cadre du cours INF2990 et LOG3900. PainBall offre plusieurs fonctionnalités aux utilisateurs
    et parmi ceux-ci, nous retrouvons:
</h3>
<br/>
<ol class="round">

    <li class="one" style="text-align: justify;">
        <h5>Éditeur de zone de jeu</h5>

        Appplication de type Windows Form, l'éditeur de zone de jeu de PainBall permet à l'utilisateur de créer,
        éditer et sauvegarder des zones de jeu. L'éditeur offre différentes options de caméra tel que la caméra
        orthographique ou encore la caméra ortibale. Pour tous les détails sur les options et les fonctionnalités
        de l'éditeur de zone de jeu: <a href="~/Informations/Editeur.cshtml">Plus d'informations</a>
    </li>
    <li class="two" style="text-align: justify;">
        <h5>Mode jeu</h5>

        Plusieurs modes de jeu sont disponibles notamment le mode "Partie rapide" ou encore le mode "Campagne".
        La dernière version de PainBall offrira également la possibilité aux utilisateurs de faire des parties en
        ligne contre d'autre joueurs distants! Il suffira simplement de créer gratuitement un compte!
        Pour tous les détails des modes jeu : <a href="~/Informations/Jeu.cshtml">Plus d'informations</a>
    </li>

    <li class="three" style="text-align: justify;">
        <h5>Editeur sur iPad</h5>

        Les fonctionnalités de l'éditeur fonctionnant sur Windows ont été entièrement porté sur iOS 9.2 de Apple.
        Il est désormais possible d'ouvrir, de créer, d'éditer et de sauvegarder des zones de jeu à partir d'un
        iPad mini 4! <a href="~/Informations/iPad.cshtml">Plus d'informations</a>
    </li>
</ol>